@font-face {
    font-family: 'Giroy-SemiBold';
    src: url('GilroyBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Giroy-Medium';
    src: url('GilroyMedium.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Giroy-Bold';
    src: url('GilroySemiBold.ttf');
    font-weight: 800;
    font-style: normal;
}